@import 'cardjal';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projectsbar-grey {
  background-color: #eaecf4;
  border-radius: 5px;
  margin: 0 10px 24px;
  max-width: 360px;
  height: 16px;
}
@mixin projectsbar-color($color, $width) {
  max-width: $width;
  height: 16px;
  background-color: $color;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.projects-header {
  @include cardheader
}

.projects {
  @include cardmarkup
}

.projects-subject {
  @include cardcontent
}

.projectsbar-red {
  @include projectsbar-color($red, 20%);
}

.projectsbar-yellow {
  @include projectsbar-color($yellow, 40%);
}

.projectsbar-darkblue {
  @include projectsbar-color($dark-blue, 60%);
}

.projectsbar-lightblue {
  @include projectsbar-color($light-blue, 80%);
}

.projectsbar-green {
  @include projectsbar-color($green, 100%);
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  .projects-subject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .projects {
    width: 70%;
  }
}
